.loginForm {
    display: grid;
    align-content: start;
    justify-items: start;
    grid-row-gap: 10px;
}

.rememberMe {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 5px;
    align-items: center;
    font: 14px Verdana;
}

.loginForm button {
    width: 80px;
    padding: 3px;
    font: 14px Verdana;
    color: aliceblue;
    background-color: royalblue;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.loginForm button:focus {
    outline: none;
}

.loginError {
    font: 12px Verdana;
    color: red;
}